/* 레이아웃 */

#wrap {
			text-align: center;
		}

/* 가운데 영역 */
.container {
			width: 1200px;
			margin: 0 auto;
			height: inherit;
			
}

/* 헤더 영역 */

#header {
			width: 100%;
			height: 100%;
			background: white;
		}

		/* 로고 */
		.top h1 {
			display: inline-flex;
			position: relative;
			margin:26px;
			left: -40px;
			transform: scale(1.5);
			
		}

	/* 검색바 */

	.search-box {
	display: inline-flex;
	position: relative;
	border: solid 2px;
	width: 500px;
	background: #F1F3F5;
	left: 50px;
	top: 20px;
	}

	.search-text {
	height: 40px;
	width: 340px;
	background: #F1F3F5;
	}



	.top ul {
			margin-top: 15px;
			float: right;
	}

	.top ul li {
			display: inline;
	}
	
	.member li{
		margin: 7px;
	}

	.member a:hover {
		color:red;
	}


  /* padding: 10px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #51e3d4;
  border-radius: 30px;
  transition: 0.4s;
	width:300px; */
}


/* 네비게이션 바 */

#nav {
	width: 100%;
	height: 200px;
	background: #fff;
	display: block;
}

.gnb {
margin-top: 10px;
}


.gnb li{
	display: inline;
	padding: 0 20px;
}

.gnb li a {
	font-size: 17px;
	padding: 0 30px;
	display: inline-block;
	transform: all 0.3s ease;
	margin-bottom: 18px;
}


.gnb a:hover span{
	background-color: red;
	color: #fff;
	border-radius: 3px;
}




.img {
	height: 300px;
    width: 100%;
}

#banner {
		width: 100%;
			height: 450px;
			background: #fbd6e3;
		}

		#contents {
			width: 100%;
			height: 950px;
			background: #ead5ee;
		}

		#footer {
			width: 100%;
			height: 220px;
			background: #d6ebfd;

		}